/* div{
    border: 1px solid red;
} */

/* .app{
  width: 100%;
} */

:root, h2, text {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  border: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: rgba(255, 192, 203, 0.95);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.inputCard textarea{
  resize: none;
}

.inputCard form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.inputCard form input,
.inputCard form textarea,
.entry input {
  -webkit-appearance: none; 
  appearance: none;
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
  background-color:#f9f9f9;
  height: 30px;
  margin-bottom: 10px;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.entry input{
  font-size: 1em;
  border-radius: 5px;
  margin: 0;

}

/* The slider itself */
.inputCard .slider {
  width: 100%; 
  height: 15px; 
  background: #d3d3d3;
  outline: none; 
  border-radius: 10px;
}

/* Mouse-over effects */
.inputCard input:hover, .inputCard textarea:hover {
  opacity: 1;
}


.inputCard .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px; 
  height: 30px; 
  background: rgba(255, 192, 203, 0.95);
  cursor: pointer; 
  border-radius: 50%;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


table {
  width: 1000px;
  border-collapse: collapse; /* Ensures borders between cells are collapsed */
}

th, td {
  padding: 8px 12px;
  text-align: left; 
  border: 1px solid #ddd; 
  border-radius: 5px;
}

th {
  background-color: rgba(255, 192, 203, 0.95); 
  color: white;
}

tr:nth-child(even) {
  background-color: rgba(255, 192, 203, 0.25);
}

tr:hover {
  background-color: #93cbf054; 
}

.entry .delete:hover {
  border-color: rgba(255, 192, 203, 0.95);
  background-color: rgba(249, 51, 84, 0.95);
}
